<main class= "container">
    <section class="jumbotron mb-3">
        <h2 class="m-3">Your blogs</h2>
        {{#if blogs.length}}
        <!-- Show each user blog post here -->
        {{#each blogs}}
        <article>
            <div id="{{id}}" class="card mb-3">
                <div class="d-flex card-header justify-content-between">
                    <h4 id="blog-title">{{blog_title}}</h4>
                    <p id="blog-post-date">Posted on {{format_date createdAt}}</p>
                    <p id="blog-update-date">Updated on {{format_date updatedAt}}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{blog_body}}</p>
                </div>
                <div class="card-footer">
                    <button class= "update-post-btn btn btn-dark mr-3">Update Post</button>
                    <button class= "delete-post-btn btn btn-danger">Delete Post</button>
                </div>
            </div>
        </article>
        {{/each}}
        {{else}}
        <p> You have no blog posts.</p>

        {{/if}}
        
        <section class= "d-flex justify-content-center">
        <a href="/createblog" id="new-post-btn" class="btn btn-dark">+ New Post</a>
    </section>
    </section>
</main>
{{> bootstrap-cdn}}
<script src="javascripts/dashboard.js"></script>

